<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athut.mapper.UserMapper">
    <select id="findUserByUsernameAndPassword"  resultType="com.athut.pojo.User">
        select * from t_user u
        where u.username = #{username}
        And u.password = #{password}
    </select>

    <select id="findUserByNicknameAndPassword" resultType="com.athut.pojo.User">
        select * from t_user u
        where u.nickname = #{nickname}
        And u.password = #{password}
    </select>

</mapper>